.card-procedure {
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 1200px;
    font-family: 'Nunito', sans-serif;
}
.subject{
    width: 400px;
    height: 400px;
    margin: 10px;
    background-color: #99aeff;
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-out;
    box-shadow: 0px 35px 77px -17px rgb(0, 0, 0, 0.4);
    overflow: hidden;
    color: white;
    font-family: 'Nunito', sans-serif;
}

.subject img{
    position: absolute;
    top:0;
    left: 0;
    z-index: 0;
    transition: all 0.4s ease-out;
}

.subject .content {
    position: absolute;
    padding: 30px;
    height: calc(100% -60px);
    font-family: 'Nunito', sans-serif;
}

.subject h2{
    font-weight: bold;
    margin:0;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    font-family: 'Nunito', sans-serif;
}

.subject h3 {
    margin: 20px 0 0 0;
    transform: translateX(50px);
    font-family: 'Nunito', sans-serif;
}

.subject p {
    margin: 20px 0 0 0;
    line-height: 25px;
    transform: translateX(-50px);
    transition-delay: 0.2s;
    font-family: 'Nunito', sans-serif;
}
.subject p {
     margin: 20px 0 0 0;
     line-height: 25px;
     transform: translateX(-50px);
     transition-delay: 0.2s;
     font-family: 'Nunito', sans-serif;
 }

.move_text{
    opacity: 0;
    transition: all 0.6s ease-in-out;
    font-family: 'Nunito', sans-serif;
}

.subject:hover{
    box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
    transform: scale(1.2);
    z-index: 10;
    font-family: 'Nunito', sans-serif;
}

.subject:hover img{
    filter: blur(40px);
}

.subject:hover .move_text{
    transform:  translateX(0);
    opacity: 1;
    font-family: 'Nunito', sans-serif;
}

.icon ul{
    list-style-type: none;
}
.icon ul li{
    width: 120px;
    height: 50px;
    line-height: 50px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 6%;
    border: 3px solid white;
    float: left;
    transition: all 0.5s ease;
    opacity: 0;
    transition: transform 0.6s ease-out, opacity 0.5s ease;
    transform: translateY(100px) ;
}

.icon ul li a{
    color: white;
}

.icon ul li:hover a{
    color: black;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}

.icon ul li:hover{
    background-color: white;
    font-family: 'Nunito', sans-serif;
}

.subject:hover .icon ul li{
    opacity: 1;
    transform: translateY(0px);
}

@media screen and (max-width: 960px) {
    .card-procedure{
        display: flex;
        flex-direction: column;
        font-family: 'Nunito', sans-serif;
        margin-top: 5%;
    }
  }