.grid__item__text{
    font-family: 'Nunito', sans-serif;
}

.grid__item__col {
    margin-bottom: 5%;
}

.grid__item__col > img {
    width: 100%;
}

@media (min-width: 1101px){
    .grids{
        padding: 6rem;
        background: #fff;
    }
    .grid__item__title{
        font-size: 50px;
        font-family: 'Nunito', sans-serif;
        font-weight: 100px !important;
    }
}

@media (max-width: 1100px){
    .grids{
        padding: 6rem 2rem;
        background: #fff;
    }
    .grid__item__title{
        font-size: 40px;
        font-family: 'Nunito', sans-serif;
        font-weight: 100px !important;
    }
}

@media (max-width: 960px){
    .grids{
        padding: 4rem 2rem;
        background: #fff;
    }
    .grid__item__title{
        font-size: 40px;
        font-family: 'Nunito', sans-serif;
        font-weight: 100px !important;
    }
}

@media (max-width: 800px){
    .grids{
        padding: 4rem 2rem;
        background: #fff;
    }
    .grid__item__title{
        font-size: 25px;
        font-family: 'Nunito', sans-serif;
        font-weight: 100px !important;
    }

    .grid__item__text{
        font-size: 12px;
    }
}