.header-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
  }

  .header-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -200px;
    object-fit: contain;
  }

  .header-container > h1 {
    color: #fff;
    font-size: 70px;
    margin-top: -385px;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
  }

  .header-container > p {
    margin-top: 8px;
    margin-left: 5%;
    margin-right: 5%;
    color: #fff;
    font-size: 22px;
    font-family: 'Nunito', sans-serif;
  }


  @media screen and (max-width: 1200px) {
    .header-container > h1 {
      font-size: 50px;
      margin-top: -320px;
    }

    .header-container > p {
      font-size: 20px;
    }
  }

  @media screen and (max-width: 960px) {
    .header-container > h1 {
      font-size: 40px;
      margin-top: -320px;
    }

    .header-container > p {
      font-size: 15px;
    }
  }

  @media screen and (max-width: 768px) {
    .header-container > h1 {
      font-size: 35px;
      margin-top: -300px;
    }

    .header-container > p {
      font-size: 15px;
    }
  }