.lobby-body {
    font-family: 'Nunito', sans-serif;
    padding: 15% 5% 5% 5%;
}

.lobby-category .row img {
    width: 100%;
}

.lobby-info {
    padding-bottom: 2%;
}

.lobby-title {
    color: #3104B4;
    font-family: 'Nunito', sans-serif;
}

.lobby-menu {
    padding: 1% 5% 5% 5%;
}

@media(max-width: 850px){
    .lobby-body {
        font-family: 'Nunito', sans-serif;
        padding: 18% 5% 5% 5%;
    }
}

@media(max-width: 670px){
    .lobby-body {
        font-family: 'Nunito', sans-serif;
        padding: 23% 5% 5% 5%;
    }
}

@media(max-width: 475px){
    .lobby-body {
        font-family: 'Nunito', sans-serif;
        padding: 30% 5% 5% 5%;
    }
}

@media(max-width: 350px){
    .lobby-body {
        font-family: 'Nunito', sans-serif;
        padding: 40% 5% 5% 5%;
    }
}

@media(max-width: 270px){
    .lobby-body {
        font-family: 'Nunito', sans-serif;
        padding: 50% 5% 5% 5%;
    }
}